 <!-- About Section -->
 <script src="https://kit.fontawesome.com/a3c0c0cb92.js"></script>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contracts</h2><br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 text-center" >
       <p> Coming soon</p>
                </div>
                <!--
                <div class="col-lg-4 text-center">
                    
                </div>-->
            </div>
        </div>
    </section>
