 <!-- About Section -->
 <script src="https://kit.fontawesome.com/a3c0c0cb92.js"></script>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contracts</h2><br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center" >
        
                    <a href="https://etherscan.io/token/0xf7f14205898b2b8bc008148e591b1060be7a50fb#balances" class="btn btn-lg btn-outline">
                         Nika
                    </a>
                </div>
                <div class="col-lg-4 text-center">
                    
                    <a href="https://etherscan.io/address/0x0e8d33e90d2b32f36c335fa9d808f729a1815b86#code" class="btn btn-lg btn-outline">
                         Airdrop
                    </a>
                </div>
            </div>
        </div>
    </section>
