<section id="airdrop"><h2>Airdrop</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                
                    <h4>
                    <table align="center" id="special">
                            <tr>
                                <th>To join the self-drop, please join our telegram and follow the directions on the pinned message.</th>
                                
                            </tr>
                            <tr>
                                <th><a href="https://t.me/joinchat/FBbQZBVPl9B5niHFj1ljDg">Telegram</a></th>
                            </tr>
                    </table>
                    <br />
                </h4>
    </div>
    </div>
    </div>
    </section>