<section id="airdrop"><h2>Airdrop</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                
                    <h4>
                    <table align="center" id="special">
                            <tr>
                                <th>Send a transaction of 0 ether to the airdrop address to get 500 Nika</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Airdrop Address: <span id="lowercase">0x965cc3eaeb50fbe7397a47ed54a01b7a9cd600a9</span></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Limited to one airdrop per wallet</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th id="specialone">Token Address: <span id="lowercase">0xf7f14205898b2b8bc008148e591b1060be7a50fb</span></th>
                                <th>Decimal Places: 5</th>
                            </tr>
                    </table>
                    <br />
                    <p>*To make sure you get your Nika - for gas, use 0.001356 ETH or 10 GWEI, Gas limit 135586*</p>
                </h4>
    </div>
    </div>
    </div>
    </section>