<section id="airdrop"><h2>Airdrop</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                
                    <h4>
                    <table align="center" id="special">
                            <tr>
                                <th>Send a transaction of 0 ether to the airdrop address to get 500 Nika</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Airdrop Address: 0x7799ad6c9bae4e0b8b6bff5c32fe40cf918c561b</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Limited to one airdrop per wallet</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th id="specialone">Token Address: 0x7799ad6c9bae4e0b8b6bff5c32fe40cf918c561b</th>
                                <th>Decimal Places: 5</th>
                            </tr>
                    </table>
                </h4>
    </div>
    </div>
    </div>
    </section>