 <!-- Deny Section -->
 <header>
    <section id="deny">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>You are Banned</h2>
                </div>
            </div>
            <div class="row">
                    <p>
                           <h3>
           Your country has regulations that would put you at risk if you were to join or participate in this project
                            </h3> <br /><br />
                            <h4>For your own safety, you have been blocked. Please leave the site and do not return.</h4>

                        
                        <br /><br />
                    </p>
                </div>
    </section>
</header>