
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class ="row" id="summary">
                            <div class="col-lg-10 col-lg-offset-1" >
                                <h1>There's a Contract for that</h1>

                                <br /><br />
                                <p>Nika is a payment utility token for utilizing custom contracts
                                    built by the Nika corporation. Amongst many things we plan on implementing
                                    staking, oracles, legal documentation stored on the ethereum chain and
                                    personal IDs for custom databases. We'll also use our own brand of Nika
                                    tokens to create an off-chain mobile cryptocurrency network. Further,
                                    Nika tokens come with anti-whale and anti-money-laundering features for 
                                    five years to ensure fair distribution. Our tokens
                                    will be distributed in a huge airdrop and implement deflationary tokenomics
                                    as well as burn-free transactions. We estimate it will take five years for launch
                                    as such, there are implemented burn-rates built in for five years.
                                    <br /><br />
                                    By sending Nika to various contracts we own, you'll be able to get various
                                    information, do lending, upload legal documents, receive approval, get
                                    a new Nika credit rating and do many other things in a decentralized fashion.
                                    We are currently building our data storage contract which will allow users
                                    to have a tiny database at the cost of some gas and one Nika. Contract development
                                    will occur over the next six months and will be entirely decentralized. We'll use
                                    the funds of selling Nika tokens on exchanges to fund development.

                                    <br /><br />
                                    We plan on using huge numbers, large funds and superior leadership 
                                    to protect the interests of the cryptocurrency sphere. This project
                                    aims to become the biggest airdrop token of all time. Afterwards, we
                                    will work on securing venture capital funding, political legitimacy and
                                    work towards the concerns our userbase has. We will use our airdrop
                                    to distribute fairly 5 billion tokens while keeping an additional 5 billion (50%) for dev funding.
                                    We have implemented transaction caps to prevent whales hoarding too much
                                    too quickly. 
                                    </p>
                                <br />
                                <table align="center">
                                    <tr>
                                        <th><a href="https://nikacoin.github.io/hq/nikawhitepaper.pdf"></a></th>
                                        </tr>
                                        </table-->

                        </div>
                    </div>
                </div>
                <br /><br /><br /><br /><br /><br /><br />
                
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    
                    <br /><br />
                    <h1>Nika Details</h1>
                    <h3>
                    <table align="center">
                            <tr>
                                <th>Transaction cap</th>
                                <th>Exchange Limit</th>
                                <th>Burn Free Tx</th>
                            </tr>
                            <tr>
                                <th>500 Tokens</th>
                                <th>10% Total Supply</th>
                                <th>Every 180 days</th>
                            </tr>
                    </table>
                    </h3>
                    <br /><br />
                    <br />
                    <h1>Token Distribution & Funding</h1>
                    <h3>
                    <table align="center">
                            <tr>
                                <th>Airdrop</th>
                                <th>Dev Funding</th>
                                <th>Funding</th>
                            </tr>
                            <tr>
                                <th>5 Billion - 50%</th>
                                <th>5 Billion - 50%</th>
                                <th>VC firms only</th>
                            </tr>
                        
                    </table>
                </h3>
                    <br /><br />
                    <br />

                </h3>
                    <h1>Possible Purposes</h1>
                    <h3>
                    <table align="center">
                    <tr>
                            <th>Identity</th>
                            <th>A.I.</th>
                            <th>Supply Management</th>
                            
            
                        </tr>
                        <tr>
                                <th>Cryptocurrency</th>
                                <th>Staking</th>
                                <th>Voting</th>
                                
                            </tr>
                            <tr>
                                <th>Internet of Things</th>
                                <th>Documentation</th>
                                <th>Dapps</th>
                            </tr>
                    </table>
                    <br />
                    <p>Come vote on our <a href="https://t.me/nika_coin">Telegram</a> and help decide our destiny together
                        <br />
                        
                    </p>
                    <br /><br />
                    
                </h3>
                <h1>Burn Rates</h1>
                   <h3>
                    <table align="center">
                        <tr>
                            <th>Standard*</th>
                            <th>Burn Rate</th>
                        </tr>
                            <tr>
                                <th>Year One</th>
                                <th>25%</th>
                                </tr>
                                <tr>
                                    <th>Year Two</th>
                                    <th> 20%</th>
                                </tr>
                                <tr>
                                    <th>Year Three</th>
                                    <th>14.285%</th>
                                </tr>
                                <tr>
                                    <th>Year Four</th>
                                    <th>12.5%</th>
                                </tr>
                                <tr>
                                    <th>Year Five</th>
                                    <th>10%</th>
                                </tr>
                                <tr>
                                    <th>Year Six</th>
                                    <th>0%</th>
                                </tr>
                            </table>
                        </h3>  
                        <br />
                        <p>Project was launched on July 20th, 2019. <br />One year counts as 365 days from that date.</p>
                            
            </div>
            </div>
        </div>
    </section>