
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class ="row" id="summary">
                            <div class="col-lg-10 col-lg-offset-1" >
                                <h1>Where big crypto and the people meet.</h1>

                                <p>We aim on using huge numbers, large funds and superior leadership 
                                    to protect the interests of the cryptocurrency sphere. This project
                                    aims to become the biggest airdrop token of all time. Afterwards, we
                                    will work on securing venture capital funding, political legitimacy and
                                    work towards the concerns our userbase has. We will use our airdrop
                                    to distribute fairly 2.5 billion tokens while keeping an additional 2.5 billion (50%) for dev funding.
                                    We have implemented transaction caps to prevent whales hoarding too much
                                    too quickly. 
                                    
                                    <br /><br />We have also implemented a burn rate and a cap 
                                    against any exchange owning more than 10% of the supply, to prevent downtrends.
                                    The burn rate goes down to 0%
                                    after the course of 5 years to encourage HODLing until we have reached
                                    altitude. We don't have a whitepaper or professional site, we'll focus on only
                                    what we need at the moment.
                                    We don't necessarily aim to focus on one area, but instead use
                                    our massive economies of scale to succeed. In short, we aim to be the
                                    Amazon of the cryptocurrency sphere.
                                </p>
                                
                                

                        </div>
                    </div>
                </div>
                <br /><br /><br /><br /><br /><br /><br />
                
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    
                    <br /><br />
                    <h1>Nika Details</h1>
                    <h3>
                    <table align="center">
                            <tr>
                                <th>Transaction cap</th>
                                <th>Exchange Limit</th>
                                <th>Burn Free Tx</th>
                            </tr>
                            <tr>
                                <th>500 Tokens</th>
                                <th>10% Total Supply</th>
                                <th>Every 180 days</th>
                            </tr>
                    </table>
                    </h3>
                    <br /><br />
                    <br />
                    <h1>Token Distribution & Funding</h1>
                    <h3>
                    <table align="center">
                            <tr>
                                <th>Airdrop</th>
                                <th>Dev Funding</th>
                                <th>Funding</th>
                            </tr>
                            <tr>
                                <th>2.5 Billion - 50%</th>
                                <th>2.5 Billion - 50%</th>
                                <th>VC firms only</th>
                            </tr>
                        
                    </table>
                </h3>
                    <br /><br />
                    <br />

                </h3>
                    <h1>Possible Purposes</h1>
                    <h3>
                    <table align="center">
                    <tr>
                            <th>Identity</th>
                            <th>A.I.</th>
                            <th>Supply Management</th>
                            <th>IoT</th>
                        </tr>
                        <tr>
                                <th>Cryptocurrency</th>
                                <th>Staking</th>
                                <th>Voting</th>
                                <th>Documentation</th>
                            </tr>
                    </table>
                    <br />
                    <p>Come vote on our <a href="https://t.me/nikacoin">Telegram</a> and help decide our destiny together
                        <br />
                        
                    </p>
                    <br /><br />
                    
                </h3>
                <h1>Burn Rates</h1>
                   <h3>
                    <table align="center">
                        <tr>
                            <th>Standard</th>
                            <th>Burn Rate</th>
                        </tr>
                            <tr>
                                <th>Year One</th>
                                <th>25%</th>
                                </tr>
                                <tr>
                                    <th>Year Two</th>
                                    <th> 20%</th>
                                </tr>
                                <tr>
                                    <th>Year Three</th>
                                    <th>14.285%</th>
                                </tr>
                                <tr>
                                    <th>Year Four</th>
                                    <th>12.5%</th>
                                </tr>
                                <tr>
                                    <th>Year Five</th>
                                    <th>10%</th>
                                </tr>
                                <tr>
                                    <th>Year Six</th>
                                    <th>0%</th>
                                </tr>
                            </table>
                        </h3>  
                            
            </div>
            </div>
        </div>
    </section>